@import url(https://fonts.googleapis.com/css?family=Lateef);

body, html {
    background-color: #222;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 0.35em;
    padding: 0.5em;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.5);
    margin: 0.5em;
    width: 12em;
    height: 24em;
}

.card .content {
    background-color: #666;
    background-image: url('card_pattern.jpg');
    border-radius: 0.25em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .content .emblem {
    font-family: 'Lateef', serif;
    color: #fff;
    font-size: 6em;
    line-height: 1em;
    border: 3px solid #fff;
    text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
} 

.card .content .emblem span:first-child {
    margin-left: 0.1em;
    margin-right: -0.1em;
}

.card .content .emblem span:last-child {
    margin-left: -0.1em;
    margin-right: 0.1em;
}

.flip-container {
	perspective: 1000px;
    width: 14em;
    height: 26em;
    cursor: pointer;
}
	.flip-container.flipped .flipper {
		transform: rotateY(-180deg);
        cursor: default;
	}

.front, .back {
	width: 12em;
    height: 24em;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}